@charset "utf^8";
html{
  font-size: 62.5%;
}

body{
    color: #333333;
    font-family:"Open Sans",'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, "メイリオ", Meiryo, sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    width: 100%;
    margin: auto;
}





.form_titel{
  width: 240px;
  margin: 16px 0 64px 0;
  padding: 8px 0 0 0;
}

.form_item{
   width: 384px;
   margin: 8px 0px 8px 8px;
}

.form_parts{
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: solid 1px #c9c9c9;
    font-size: 1.6rem;
}

.form-table {
    width: 100%;
    margin: 0 0 30px;
    max-width: 640px;
  }

  .form-table *{
    box-sizing: border-box;
  } 

  table {
    border-collapse: collapse;
  }
  
  
.form-table th,
.form-table td {
  border-top: 3px solid #bfbfbf;
  border-bottom: 3px solid #bfbfbf;
  
  padding: 8px 0 8px 8px;
}
 
.form-table th {
  padding-left: 16px;
  padding-right: 64px;
  position: relative;
  text-align: left;
  width: 240px;
  vertical-align: middle;
  border-right: solid #bfbfbf;

}

.form-table td{
  width: 400px;
}

.form-table_item{
  border: solid;
}

